.modal-footer {   border-top: 0px; }

.headermenu{ 
  position:absolute;
  left:92%;
  top:3%;
  font-family:Arial;
  color:rgb(0,61,61);
  font-weight:bold;
}


.testgrid1 th 
    {
	
	color: #000;
	
	font-family: "Arial Narrow", Arial;
	font-weight: bold;
	
	margin: 20px 0px 0px;
	text-align: left;
	
	}
.testgrid1 
	{
	text-align:center;
	width: 100%;
	
	}
.testgrid1 tr {	background: #ffffff; }

.testgrid1 th 
    {
        border:0px;
	background: #ff9a17;
	background-position: 5px;
	padding: 5px 5px;
	text-align:center;
	font-family: "Arial Narrow", Arial;
    border-bottom: 1px solid #800000;
	color:#fff;
    font-size: 10px;
    line-height: 11.4px;
	 }
.testgrid1 td 
    {
	
	
	
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	
    font-size:small;
	
	text-align: center; 

    font-family: "Arial", Arial;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	
	line-height: 10.6px;
	}
   
	
	

}






.testgrid1 tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a 
    {
	background: rgba(0, 71, 71, 0.5);
	color: #000;
	
	}


/***----------------------------------------*/
.testgrid2 th 
    {
	
	color: #000;
	
	font-family: "Arial Narrow", Arial;
	font-weight: bold;
	
	margin: 20px 0px 0px;
	text-align: left;
	
	}
.testgrid2
	{
	text-align:center;
	width: 100%;
	
	}
.testgrid2 tr {	background: #ffffff; }

.testgrid2 th 
    {
        border:0px;
	background: #ff9a17;
	background-position: 5px;
	padding: 5px 5px;
	text-align:center;
	font-family: "Arial Narrow", Arial;
    border-bottom: 1px solid #800000;
	color:#fff;
    font-size: 13px;
    line-height: 14.4px;
	 }
.testgrid2 td 
    {
	
	
	
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	
	text-align: center; 

    font-family: "Arial", Arial;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	
	line-height: 13.6px;
	}
   
	
	







.testgrid2 tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a 
    {
	background: rgba(0, 71, 71, 0.5);
	color: #000;
	
	}



/***----------------------------------------*/
.testgrid3 th 
    {
	
	color: #000;
	
	font-family: "Arial Narrow", Arial;
	font-weight: bold;
	
	margin: 20px 0px 0px;
	text-align: left;
	
	}
.testgrid3
	{
	text-align:center;
	width: 100%;
	
	}
.testgrid3 tr {	background: #ffffff; }

.testgrid3 th 
    {
        border:0px;
	background: #ff9a17;
	background-position: 5px;
	padding: 5px 5px;
	text-align:center;
	font-family: "Arial", Arial;
    border-bottom: 1px solid #800000;
	color:#fff;
    font-size: 15px;
    line-height: 14.4px;
	 }
.testgrid3 td 
    {
	
	
	
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	
	text-align: center; 

    font-family: "Arial", Arial;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	
	line-height: 13.6px;
	}
   
	
	







.testgrid3 tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a 
    {
	background: rgba(0, 71, 71, 0.5);
	color: #000;
	
	}